name: Deploy to GitHub Pages
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Build
      run: |
        npm install
        npm run build
      env:
        REACT_APP_YOUTUBE_SEARCH_KEY: ${{ secrets.REACT_APP_YOUTUBE_SEARCH_KEY }}
        REACT_APP_GOOGLE_CLIENT_API: ${{ secrets.REACT_APP_GOOGLE_CLIENT_API }}

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: build
